.blogs-section {
    padding: 90px;
  }
  
  .blogs-heading {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .blogs-slider {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .blogs-box {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  
  

  .blogs-box:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  