
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


body {
  font-family: 'Libre Baskerville', serif;
}


h1, h2, h3 {
  font-family: 'Arial', sans-serif;
}

p {
  font-family: 'Georgia', serif;
}
