.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #f5f5f5;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    background-color: #fff;
  }
  
  .login-input {
    width: 50vh;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  
  .login-input:focus {
    outline: none;
    border-color: #3f51b5;
    box-shadow: 0 0 5px rgba(63, 81, 181, 0.5);
  }
  
  .login-form button {
    padding: 10px 20px;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .login-form button:hover {
    background-color: #1565d8;
  }
  

  .signup-btn {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: transparent;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .signup-btn:hover {
    background-color: #f5f5f5;
  }
  
  .signup-btn a {
    color: blue;
    text-decoration: none;
  }
  
  .signup-btn a:hover {
    color: #3e8e41;
  }
  
  